#background{
    background-image: linear-gradient(to right,#EEEFF1,  #7EC2E5 50%, #EEEFF1);
    height: 100vh;
}

.card{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 1.5rem;
    flex-direction: row;
    /*border: none;*/
    box-shadow: #88b2c7 2px 3px 10px 2px;

}

#lImage {
    background: linear-gradient(to right,#00A0F0 75%, #EEEFF1 25%);
    border-radius: 1.5rem 0 0 1.5rem;
}

#loginImage {
    width:50%;
    height: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.card-body {
    width: 70%;
    background-color: #EEEFF1;
    border-radius: 0 1.5rem 1.5rem 0;
}

.form-label{
    font-size: 17px;
}

input{
    height: 45px;
}

#btnAdminLogin{
    height: 45px;
    font-size: 17px;
    background: #2664A4 !important;
    border: none;
    box-shadow: #c3c5c6 1px 4px 4px;
}

#btnAdminSignUp{
    background-color: #2664A4;
}

