#loginFormContainer{
    background-image: linear-gradient(to right, #ecfbfd, #7EC2E5 50%, #ecfbfd);
    height: 100vh;
}

.card{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 1.5rem;
    flex-direction: row;
}

#lImage {
    background: linear-gradient(to right,#00A0F0 75%, #EEEFF1 25%);
    border-radius: 1.5rem 0 0 1.5rem;
}

#loginImage {
    width:50%;
    height: 80%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.card-body {
    width: 70%;
    background-color: #EEEFF1;
    border-radius: 0 1.5rem 1.5rem 0;
}

.card-body> .card-title{
    text-align: center;
    font-size: 45px;
    width: 91.66666667%;
}

.card-body>label{
    font-size: 17px;
}

#inputUserName, #inputPassword{
    height: 45px;
}

#btnCustomerLogin{
    height: 45px;
    background: #2664A4 !important;
}

.modal{
    --bs-modal-header-border-color: #478cd2 !important;
}

#exampleModalLabel{
    font-size: 30px !important;
    color: #266a4a;
}

.modal-footer{
    justify-content: center;
}

#btnSignUp{
    background-color: #2664A4;
}