#navbar {
    box-shadow: grey 1px 1px 2px 2px;
}

.navbar-brand {
    color: #673A79;
    font-weight: bold;
    font-family: 'Agency FB', sans-serif;
    font-size: 23px;
}

img {
    width: 70px;
    height: 43px;
}

thead{
    background-color: #2774AE;
    color: white;
    text-align: center;
}

th, td, tr, tbody {
    border: 1px solid #dbe3e7 !important;
}

.modal-footer{
    justify-content: center;
}

#btnSignUp{
    background-color: #2664A4;
}