#background{
    background-image: linear-gradient(to right, #9DACCA , #EEEFF1 50%, #95b7e8);
    height: 100vh;
}

.card{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 1.5rem;
    flex-direction: row;
}

#lImage {
    background: linear-gradient(to right,#00A0F0 75%, #EEEFF1 25%);
    border-radius: 1.5rem 0 0 1.5rem;
}

#loginImage {
    width:50%;
    height: 80%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.card-body {
    width: 70%;
    background-color: #EEEFF1;
    border-radius: 0 1.5rem 1.5rem 0;
}

label{
    font-size: 17px;
}

input{
    height: 45px;
}

button{
    height: 45px;
    background: #2664A4 !important;
}